.BgImage{

    background-color: white;
    height: 85vh;
    width: 100vw;
    /* opacity: 0.7; */
}
.rightImage{

   float: right;
   margin-top: 10%;
    height: 78%;
}
.leftImage{

   margin-top: 10%;
    float: left;
    height: 78%;
}
.content{

    text-align: center;
    padding: 18% 0;
    width: 100vw;
    height: 100%;
}