.table{
  background:#def2fa;
  width:90%;
  height:auto;
  display:flex;
  gap: 10px;
  flex-direction:column;
  margin:20px;
  border-radius:8px;
  overflow:hidden;
box-shadow: 0px 0px 0px rgba(0,0,0,.0);
  transition:.3s;
  &:hover{
      transform:translateY(-2%);
    box-shadow: 1px 8px 5px rgba(0,0,0,.2);
  }
  .heading{
    background:#caf0dd;
    width:100%;
    padding:20px;
    text-align:left;
    font-size:15pt;
    color:#272625;
    margin-bottom:40px;
    text-transform:capitalize;
  }
  .block{
    float: left;
    display:block;
    width:78%;
    border-bottom:1px dashed rgba(0,0,0,.2);
    }
  }
 p{
    text-align:left;
    color:#272625;
    font-weight:600;
    font-size:15px;
 }

 .pagination{
  height: 5vh;
  font-size: 20px;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  margin-bottom:30px ;
 }
