.image{
    position: absolute;
    top: 23%;
    left: 5%;
    height: 10rem;
    width: 14rem;
}
.content{
    position: absolute;
    font-weight: 300;
    font-size: 2.9rem;
    top: 25%;
    right:0%;
}